<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
<script th:src="@{/webjars/materializecss/js/materialize.min.js}"></script>
<script th:src="@{/webjars/chartjs/Chart.min.js}"></script>
<script th:src="@{/js/nouislider.min.js}"></script>
<script th:src="@{/js/startGeral.js}"></script>
<script th:src="@{/webjars/numeral-js/min/numeral.min.js}"></script>
<script th:src="@{/js/tablesorter/js/jquery.tablesorter.min.js}"></script>
<script th:src="@{/js/tablesorter/js/jquery.tablesorter.widgets.min.js}"></script>
<script th:src="@{/js/tablesorter/js/extras/jquery.tablesorter.pager.min.js}"></script>
<script th:src="@{/js/printjs/print.min.js}"></script>
