<!-- Side Nav -->
	<ul id="slide-out" class="side-nav fixed">
	
		<li>
			<div class="background center">
				<a id="logo-container" th:href="@{/}" class="brand-logo"><img th:src="@{/img/logo.png}" height="64px"/></a>
			</div>
		</li>
		
		<li><a class="collapsible-header" th:href="@{/consulta-simples}">Consulta Simples</a></li>
		<li><a class="collapsible-header" th:href="@{/consulta-hierarquica}">Consulta Hierárquica</a></li>
		
		<hr/>
		 
		<li th:if="${not #lists.isEmpty(session.orgaosSuperiores)}">
	        <ul class="collapsible collapsible-accordion">
	          <li>
	            <a class="collapsible-header">Órgãos Superiores</a>
	            
	            <div class="collapsible-body">
	              <ul>
					<li th:each="orgao : ${session.orgaosSuperiores}">
						<a class="truncate" th:href="@{/orgao_superior/{id}(id=${orgao.codOrgaoSuperior})}" th:title="${orgao.nomeOrgaoSuperior}" th:text="${orgao.nomeOrgaoSuperior}">[...]</a>
					</li>
				  </ul>
				</div>
	          
	          </li>
	        </ul>
      	</li>
      	
      	<li th:if="${not #lists.isEmpty(session.orgaosSubordinados)}">
	        <ul class="collapsible collapsible-accordion">
	          <li>
	            <a class="collapsible-header">Órgãos Subordinados</a>
	            
	            <div class="collapsible-body">
	              <ul>
					<li th:each="orgao : ${session.orgaosSubordinados}">
						<a class="truncate" th:href="@{/orgao_subordinado/{id}(id=${orgao.codOrgaoSubordinado})}" th:title="${orgao.nomeOrgaoSubordinado}" th:text="${orgao.nomeOrgaoSubordinado}">[...]</a>
					</li>
				  </ul>
				</div>     
	          </li>
	        </ul>
	     </li>
	      
	      
	     <li th:if="${not #lists.isEmpty(session.unidadesGestoras)}">
	        <ul class="collapsible collapsible-accordion">
	          <li>
	            <a class="collapsible-header">Unidades Gestoras</a>
	            
	            <div class="collapsible-body">
	              <ul>
					<li th:each="unidade : ${session.unidadesGestoras}">
						<a class="truncate" th:href="@{/unidade_gestora/{id}(id=${unidade.codUnidadeGestora})}" th:title="${unidade.nomeUnidadeGestora}" th:text="${unidade.nomeUnidadeGestora}">[...]</a>
					</li>
				  </ul>
				</div>     
	          </li>
	        </ul>
	     </li> 
	      
	</ul>
	<!-- Fim Side Nav -->