<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1.0" />
<title>Starter Template - Materialize</title>

<!-- CSS  -->
<link
	th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}"
	rel="stylesheet" />
<link th:href="@{webjars/materializecss/css/materialize.min.css}"
	type="text/css" rel="stylesheet" media="screen,projection" />
<link th:href="@{css/nouislider.css}" type="text/css" rel="stylesheet" />
<link th:href="@{css/style.css}" type="text/css" rel="stylesheet"
	media="screen,projection"/>
</head>
<body>
	<div th:include="fragments/navbar"></div>

	<main>

	<div class="container" style="padding-top:30px;">
		<h5>Consulta Simples:</h5>
		<div class="row">
			
			<div class="chips chips-autocomplete"></div>
			
		</div>
	   	
	   	<a class="waves-effect waves-light btn red center" id="btn-consultar">Consultar</a>
	</div>
	
	</main>
	
	<div th:include="fragments/footer"></div>


	<!--  Scripts-->
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/materializecss/js/materialize.min.js}"></script>
	<script th:src="@{/webjars/chartjs/Chart.min.js}"></script>
	<script th:src="@{/js/nouislider.min.js}"></script>
	<script th:src="@{/webjars/numeral-js/min/numeral.min.js}"></script>
	<script th:src="@{/js/init.js}"></script>
	<script th:src="@{/js/initConsultaSimples.js}"></script>
</body>
</html>
