<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1.0" />
<title>Starter Template - Materialize</title>

<!-- CSS  -->
<link
	th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}"
	rel="stylesheet" />
<link th:href="@{webjars/materializecss/css/materialize.min.css}"
	type="text/css" rel="stylesheet" media="screen,projection" />
<link th:href="@{css/nouislider.css}" type="text/css" rel="stylesheet" />
<link th:href="@{css/style.css}" type="text/css" rel="stylesheet"
	media="screen,projection" />
</head>
<body>
	
	<div th:include="fragments/navbar"></div>
	
	<div class="section no-pad-bot" id="index-banner">
		<div class="container center">
			
			<p>
			<div id="rangeMeses"></div>
			</p>
			
			<br/><br/>
			<canvas id="chart"></canvas>
			<br/>
			
			<div class="preloader-wrapper big active" id="loadChart" style="margin-bottom:80px">
				<div class="spinner-layer spinner-blue">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>
					<div class="gap-patch">
						<div class="circle"></div>
					</div>
					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>

				<div class="spinner-layer spinner-red">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>
					<div class="gap-patch">
						<div class="circle"></div>
					</div>
					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>

				<div class="spinner-layer spinner-yellow">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>
					<div class="gap-patch">
						<div class="circle"></div>
					</div>
					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>

				<div class="spinner-layer spinner-green">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>
					<div class="gap-patch">
						<div class="circle"></div>
					</div>
					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
			</div>
			
			<div class="row" id="botoes">
				<div th:each="orgao : ${orgaosSuperiores}">
					<div class="col s12 m4 l2">
						<a th:href="@{/orgaoSuperior/{id}(id=${orgao.codOrgaoSuperior})}" th:title="${orgao.nomeOrgaoSuperior}">
							<div class="card-panel grey darken-3 white-text hoverable"
								style="padding-top: 2px; height: 120px;">
								<p th:text="${orgao.nomeOrgaoSuperior}" style="font-size: 12px">[...]</p>
							</div>
						</a>
					</div>
				</div>

			</div>


		</div>
	</div>

	<div th:include="fragments/footer"></div>


	<!--  Scripts-->
	<script th:src="@{webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{webjars/materializecss/js/materialize.min.js}"></script>
	<script th:src="@{webjars/chartjs/Chart.min.js}"></script>
	<script th:src="@{js/nouislider.min.js}"></script>
	<script th:src="@{js/init.js}"></script>
	<script>
		initInterface("");	
	</script>
</body>
</html>
