<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1.0" />
<title>BODS - Início</title>

<!-- CSS  -->
<link
	th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}"
	rel="stylesheet" />
<link th:href="@{webjars/materializecss/css/materialize.min.css}"
	type="text/css" rel="stylesheet" media="screen,projection" />
<link th:href="@{css/nouislider.css}" type="text/css" rel="stylesheet" />
<link th:href="@{css/style.css}" type="text/css" rel="stylesheet"
	media="screen,projection" />
</head>
<body>
	<div th:include="fragments/navbar"></div>

	<main> <!-- <div th:include="fragments/sidenav"></div> -->

	<div class="container main-container">

		<div class="row">
			<!--   Icon Section   -->
			<div class="col l12 s12 m12">
				<h5>Órgãos do Governo Federal:</h5>
			</div>
			<div class="col l4 s12 m4">
				<a th:href="@{/orgaos-superiores}" class="center">
					<div class="card-panel main-color-hoverable">
						<h2 class="center">
							<i class="material-icons medium">settings</i>
						</h2>
						<p class="center">Órgãos Superiores</p>
					</div>
				</a>
			</div>

			<div class="col l4 s12 m4">
				<a th:href="@{/orgaos-subordinados}">
					<div class="card-panel main-color-hoverable">
						<h2 class="center">
							<i class="material-icons medium">settings</i>
						</h2>
						<p class="center">Órgãos Subordinados</p>
					</div>
				</a>
			</div>

			<div class="col l4 s12 m4">
				<a th:href="@{#}">
					<div class="card-panel main-color-hoverable">
						<h2 class="center">
							<i class="material-icons medium">settings</i>
						</h2>
						<p class="center">Unidades Gestoras</p>
					</div>
				</a>
			</div>
		</div>
		</div>
	</main>

	<div th:include="fragments/footer"></div>


	<!--  Scripts-->
	<div th:include="fragments/scripts"></div>

</body>
</html>
