<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1.0" />
<title>Starter Template - Materialize</title>

<!-- CSS  -->
<link
	th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}"
	rel="stylesheet" />
<link th:href="@{/webjars/materializecss/css/materialize.min.css}"
	type="text/css" rel="stylesheet" media="screen,projection" />
<link th:href="@{/css/nouislider.css}" type="text/css" rel="stylesheet" />
<link th:href="@{/css/style.css}" type="text/css" rel="stylesheet"
	media="screen,projection" />
</head>
<body>
	
	<div th:include="fragments/navbar"></div>
	
	<main>
		
		<div class="section no-pad-bot" id="index-banner">
			<div class="container center">
				
				<div class="row" id="botoes">
					<div th:each="orgao : ${orgaosSubordinados}">
						<div class="col s12 m3 l2">
							<a th:href="@{/orgaoSubordinado/{id}(id=${orgao.codOrgaoSubordinado})}" th:title="${orgao.nomeOrgaoSubordinado}">
								<div class="card-panel red white-text hoverable"
									style="padding-top: 2px; height: 120px;">
									<p th:text="${orgao.nomeOrgaoSubordinado}" th:classappend="${#strings.length(orgao.nomeOrgaoSubordinado) > 75} ? 'truncate'" style="font-size: 12px">[...]</p>
								</div>
							</a>
						</div>
					</div>
	
				</div>
				
			</div>
		</div>
	</main>
	
	<div th:include="fragments/footer"></div>


	<!--  Scripts-->
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/materializecss/js/materialize.min.js}"></script>
	<script th:src="@{/webjars/chartjs/Chart.min.js}"></script>
	<script th:src="@{/js/nouislider.min.js}"></script>
	<script th:src="@{/webjars/numeral-js/min/numeral.min.js}"></script>
	<script th:src="@{/js/init.js}"></script>
	<script>
		var id = $("input[name=currentId]").val();
		initInterface("/orgaoSuperior/" + id);	
	</script>
</body>
</html>
