<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1.0" />
<title>Starter Template - Materialize</title>

<!-- CSS  -->
<link
	th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}"
	rel="stylesheet" />
<link th:href="@{/webjars/materializecss/css/materialize.min.css}"
	type="text/css" rel="stylesheet" media="screen,projection" />
<link th:href="@{/css/nouislider.css}" type="text/css" rel="stylesheet" />
<link th:href="@{/css/style.css}" type="text/css" rel="stylesheet"
	media="screen,projection" />
</head>
<body>

	<div th:include="fragments/navbar"></div>

	<main>

	<div class="section no-pad-bot" id="index-banner">
		<div class="container">

			<div id="loadChart" class="container">
				<p class="main-color-black-text">Carregando gráfico...</p>
				<div class="progress">
					<div class="indeterminate"></div>
				</div>
			</div>

			<p>
			<div id="rangeMeses"></div>
			</p>

			<div id="mensagemChart">
				<h5 class="main-color-black-text">Sem dados disponíveis</h5>
			</div>


			<br />
			<br />
			<canvas id="chart"></canvas>
			<br /> <input type="hidden" name="currentId" th:value="${currentId}" />
			
			
			<h5 class="main-color-black-text">Ações:</h5>
			 <div class="row" id="botoes">
				<div th:each="acao : ${acoes}">
					<div class="col s12 m4 l2">
						<a th:href="@{#}" th:title="${acao.nomeAcao}">
							<div class="card-panel main-color-black hoverable"
								style="padding-top: 2px; height: 120px;">
								<p th:text="${acao.nomeAcao}"
									th:classappend="${#strings.length(acao.nomeAcao) > 75} ? 'truncate'"
									style="font-size: 12px">[...]</p>
							</div>
						</a>
					</div>
				</div>

			</div>
		</div>
	</div>
	</main>

	<div th:include="fragments/footer"></div>


	<!--  Scripts-->
	<div th:include="fragments/scripts"></div>
	<script th:src="@{/js/init.js}"></script>
	<script>
		var id = $("input[name=currentId]").val();
		initInterface("unidade_gestora", id);
	</script>
</body>
</html>
