/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body {
	background-color: #eeeeee;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.icon-block {
	padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}
}

.main-container{
	padding-top:30px;
}

.detalhes-container{
	padding-bottom: 20px;
}

#itens-hierarquia, #hierarquia{
	padding: 10px;
	min-height: 300px;
}

.item{
	padding: 0.1em 0.2em;
	margin: 0.3em;
}

.item-header{
	padding: 0.2em;
}

.item-content{
	padding: 0.3em;
}

.item-placeholder{
	background-color: #060;
	border: 2px dotted black;
	border-radius: 2px;
	height: 40px;
}

.item-config{
	color: black;
}